################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ContactMangementAPI.Tests/bin/Debug/net8.0
/ContactMangementAPI.Tests/obj
/ContactsMangementAPI/bin/Debug/net8.0
